.link-div{
  display: block;
  text-align: right;
  margin-right: 1%;
}

.hamburger-container{
cursor: pointer;
background-color: transparent;
}

.bar1, .bar2, .bar3{
width: 45px;
height: 3px;
transition: .6s;
margin: 6px 0;
background-color: rgb(255, 255, 255);
}
